@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Inter:wght@400;500;600;700&family=Nunito:wght@400;600;700;800&display=swap');

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}
